<div class="container-fluid">
	<div class="authentication-main">
		<div class="row">
			<div class="col-md-12 p-0">
				<div class="auth-innerright">
					<div class="reset-password-box">
			<div class="text-center"><img src="assets/images/endless-logo.png" alt=""></div>
			<div class="card mt-4 mb-0">
				<h4>Reset Your Password</h4>
					<form class="theme-form" [formGroup]="forgetpasswordForm">
						<div class="form-group">
							<label class="col-form-label">Enter Your Email</label>
							<div class="form-row">
								<div class="col-md-10 col-xl-10">
									<input formControlName="email" class="form-control mb-1" type="email" placeholder="email@domian.com">
									<div *ngIf="forgetpasswordForm.controls.email.touched && forgetpasswordForm.controls.email.errors?.required"
										 class="text text-danger mt-1">
										Email is required
									</div>
									<div *ngIf="forgetpasswordForm.controls.email.touched && forgetpasswordForm.controls.email.errors?.email"
										 class="text text-danger mt-1">
										Invalid Email
									</div>
								</div>
								<div class="col-md-2">
									<button [class.loader--text]="authService.showLoader"
											[disabled]="!forgetpasswordForm.valid || authService.showLoader" (click)="ResetPassword(forgetpasswordForm.value)" class="btn btn-primary m-0" type="submit">{{ authService.showLoader ? '' : 'Send' }}</button>
								</div>
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<div class="form-group form-row mt-3 mb-0">
							<a class="btn btn-info btn-block btn-lg" href="auth/login"><span>Login</span>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
