<div [hidden]="!showSaveButton" class="dx-field m-15">
    <div class="dx-field-value">
        <dx-button
                [(rtlEnabled)]="lang"
                class="btn-success send"
                icon="fa fa-save"
                (click)="saveItems()"
                text="{{'Save'|translate}}">
        </dx-button>
    </div>
</div>
<dx-data-grid
    #items
    keyExpr="barCodeId"
    (onRowClick)="RowClicked($event)"
    (onRowExpanded)="rowExpanded($event)"
    (onRowExpanding)="rowExpanded($event)"
    [dataSource]="itemsService.itemArray"
    [remoteOperations]="{filtering: true,sorting:true}"
    [allowColumnReordering]="true"
    [showBorders]="false"
    [rtlEnabled]="lang"
    [showRowLines]="false"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [focusedRowEnabled]="true"
    [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual"></dxo-scrolling>

    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick" [contextMenuEnabled]="true"></dxo-grouping>

    <dxi-column [allowReordering]="false" [allowGrouping]="false" [allowFiltering]="false" dataField="barCodeId" [caption]="'Bar Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowReordering]="false" dataField="code" [caption]="'Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowReordering]="false" [allowFiltering]="false" [allowGrouping]="false" dataField="nameArFull" [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column dataField="unitNameAr" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column dataField="size" [caption]="'Size'|translate"></dxi-column>
    <dxi-column dataField="branchBalance" [caption]="'Branch balance'|translate"></dxi-column>
    <dxi-column dataField="storageBalance" [caption]="'Storage balance'|translate"></dxi-column>
    <dxi-column dataField="length" [caption]="'Length'|translate"></dxi-column>
    <dxi-column dataField="width" [caption]="'Width'|translate"></dxi-column>
    <dxi-column dataField="height" [caption]="'Height'|translate"></dxi-column>
    <dxi-column dataField="weight" [caption]="'Weight'|translate"></dxi-column>
    <dxi-column dataField="volume" [caption]="'Volume'|translate"></dxi-column>
    <dxi-column  [allowReordering]="false" [formItem]="{visible: false}" dataField="isNew" datatype="boolean" [allowSearch]="false"
                [allowSorting]="false" [cellTemplate]="'ActiveButton'"
                [caption]="'Is New'|translate"></dxi-column>
    <dxi-column [allowGrouping]="false" [allowReordering]="false" [formItem]="{visible: false}" [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'Upload'"  [caption]="' '"></dxi-column>
    <dxi-column dataField="rankingCode" groupIndex="0"  groupCellTemplate="rankingTemplate"
                [caption]="'Ranking'|translate" [formItem]="{visible: false}"></dxi-column>
    <dxi-column dataField="materialCode" groupIndex="1" groupCellTemplate="materialTemplate"
                [caption]="'Material'|translate" [formItem]="{visible: false}"></dxi-column>

    <div *dxTemplate="let ranking of 'rankingTemplate'">
        <dx-check-box (onValueChanged)="rankingRowSelected($event,ranking)"
                      [value]="getRankingSelectValue(ranking)  || false"></dx-check-box>
        {{'Ranking'|translate}}: {{ranking.value}}
    </div>
    <div *dxTemplate="let material of 'materialTemplate'">
        <dx-check-box [value]="getMaterialSelectValue(material) || false"
                      (onValueChanged)="materialRowSelected($event,material.key,material.data.items,material.data.collapsedItems,material.component)"></dx-check-box>
        {{'Material'|translate}}: {{material.value}}
    </div>
    <div *dxTemplate="let data of 'ActiveButton'">
        <button (click)="data.value = !data.value;toggleNew(data)"
                class="btn btn-xs btn-pill"
                [ngClass]="data.value ? 'btn-danger' : 'btn-light'">{{'Is New'|translate}}</button>
    </div>
    <div *dxTemplate="let data of 'Upload'">
        <button class="btn btn-xs btn-pill btn-success">{{'Upload'|translate}} {{'Photos'|translate}}</button>
    </div>
</dx-data-grid>
<dx-popup
        width="700"
        height="auto"
        [showTitle]="true"
        [title]="'Photos'|translate"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <ul *ngIf="currentRow.pics.length >0" class="list-group ">
            <li class="list-group-item list-group-item-action avatars">
                <div class="avatar" style="margin-left: 0;" *ngFor="let pic of currentRow.pics"
                     (click)="deleteImage(pic)"
                     id="{{pic.split('/').reverse()[0].split('?')[0].replace('%2F', '/').split('/')[1]}}">
                    <img class="b-r-8" title="Click to delete!"
                         style="height: 128px;width: 128px;padding-top: 3px"
                         [src]="pic" width="300" height="300" alt=""/>
                    <button title="Delete" style="right: -1px;bottom: -1px;"
                            class="status status-100 bg-danger"><i class="fa fa-trash"></i></button>
                </div>
            </li>
        </ul>
        <div class="widget-container">
            <form id="form" #form method="post" action="" enctype="multipart/form-data">

                <div id="fileuploader-container">
                    <dx-file-uploader
                            selectButtonText="Select photo"
                            labelText=""
                            accept="image/*"
                            [(value)]='value'
                            [(rtlEnabled)]="lang"
                            [showFileList]="true"
                            multiple="true"
                            uploadMode="useForm">
                    </dx-file-uploader>

                    <button class="mr-2 btn btn-primary" type="submit" (click)="uploadImages()">
                        {{'Submit' |translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</dx-popup>
