<app-import-view [btnText]="'Import Combinations'" [structure]="importService.combinationsStructure" (onSaving)="saveImportedData($event[0],$event[1])"
                 [templateFileName]="'Combinations Template.xlsx'" [templateSheetName]="'combination'" [doneSaving]="doneSaving"></app-import-view>

<dx-data-grid
    #items
    [dataSource]="source"
    [remoteOperations]="{filtering:true,paging:true,sorting: true}"
    [allowColumnReordering]="true"
    [showBorders]="false"
    [rtlEnabled]="lang"
    [showRowLines]="false"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [focusedRowEnabled]="true"
    [wordWrapEnabled]="true"
    height="85vh">

    <dxo-editing
            mode="form"
            [allowAdding]="true"
            [allowUpdating]="true">
    </dxo-editing>
    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>

    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick" [contextMenuEnabled]="true"></dxo-grouping>

    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" [allowReordering]="false" [allowGrouping]="false"
                dataField="barCodeId"
                [caption]="'Bar Code'|translate"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" [allowReordering]="false" dataField="code"
                [caption]="'Code'|translate"
                allowEditing="false">
    </dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" [allowReordering]="false" [allowFiltering]="false"
                [allowGrouping]="false"
                dataField="nameArFull" [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column dataField="unitNameAr" [allowGrouping]="false" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column dataField="size" [visible]="false" [caption]="'Size'|translate"></dxi-column>
    <dxi-column dataField="branchBalance" [allowGrouping]="false" [visible]="false"
                [caption]="'Branch balance'|translate"></dxi-column>
    <dxi-column dataField="storageBalance" [allowGrouping]="false" [visible]="false"
                [caption]="'Storage balance'|translate"></dxi-column>
    <dxi-column dataField="length" [allowGrouping]="false" [visible]="false"
                [caption]="'Length'|translate"></dxi-column>
    <dxi-column dataField="width" [allowGrouping]="false" [visible]="false" [caption]="'Width'|translate"></dxi-column>
    <dxi-column dataField="height" [allowGrouping]="false" [visible]="false"
                [caption]="'Height'|translate"></dxi-column>
    <dxi-column dataField="weight" [allowGrouping]="false" [visible]="false"
                [caption]="'Weight'|translate"></dxi-column>
    <dxi-column dataField="volume" [allowGrouping]="false" [visible]="false"
                [caption]="'Volume'|translate"></dxi-column>
    <dxi-column dataField="soldQty" [allowGrouping]="false"
                [caption]="'soldQty'|translate"></dxi-column>
    <dxi-column dataField="requestedQty" [allowGrouping]="false" [visible]="true"
                [caption]="'requestedQty'|translate"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" [allowGrouping]="false" [allowReordering]="false"
                [formItem]="{visible: false}"
                [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'Upload'" [caption]="' '"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="rankingCode"
                groupCellTemplate="rankingTemplate"
                [caption]="'Ranking'|translate"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="materialCode"
                groupCellTemplate="materialTemplate"
                [caption]="'Material'|translate"></dxi-column>

    <div *dxTemplate="let ranking of 'rankingTemplate'">
        <dx-check-box (onValueChanged)="rankingRowSelected($event,ranking)"
                      [value]="getRankingSelectValue(ranking)  || false"></dx-check-box>
        {{'Ranking'|translate}}: {{ranking.value}}
    </div>
    <div *dxTemplate="let material of 'materialTemplate'">
        <dx-check-box [value]="getMaterialSelectValue(material) || false"
                      (onValueChanged)="materialRowSelected($event,material.key,material.data.items,material.data.collapsedItems,material.component)"></dx-check-box>
        {{'Material'|translate}}: {{material.value}}
    </div>
    <div *dxTemplate="let data of 'Upload'">
        <button class="btn btn-xs btn-light"
                (click)="pics(data)">{{'Upload'|translate}} {{'Photos'|translate}}  <span
                [ngClass]="{'text-danger' : !data.data.pics?.length}">( {{data.data.pics?.length || 0}} )</span>
        </button>
    </div>

</dx-data-grid>
<dx-popup
        width="700"
        height="auto"
        [showTitle]="true"
        [title]="'Photos'|translate"
        [dragEnabled]="false"
        [closeOnOutsideClick]="true"
        [(visible)]="imageUploaderpopup">
    <div *dxTemplate="let data of 'content'">
        <ul *ngIf="currentRow.pics.length >0" class="list-group ">
            <li class="list-group-item list-group-item-action avatars">
                <div class="avatar" style="margin-left: 0;" *ngFor="let pic of currentRow.pics"
                     (click)="deleteImage(pic)"
                     id="{{pic.split('/').reverse()[0].split('?')[0].replace('%2F', '/').split('/')[1]}}">
                    <img class="b-r-8" title="Click to delete!"
                         style="height: 128px;width: 128px;padding-top: 3px"
                         [src]="pic" width="300" height="300" alt=""/>
                    <button title="Delete" style="right: -1px;bottom: -1px;"
                            class="status status-100 bg-danger"><i class="fa fa-trash"></i></button>
                </div>
            </li>
        </ul>
        <div class="widget-container">
            <form id="form" #form method="post" action="" enctype="multipart/form-data">

                <div id="fileuploader-container">
                    <dx-file-uploader
                            selectButtonText="Select photo"
                            labelText=""
                            accept="image/*"
                            [(value)]='value'
                            [(rtlEnabled)]="lang"
                            [showFileList]="true"
                            multiple="true"
                            uploadMode="useForm">
                    </dx-file-uploader>
                    <ngb-progressbar *ngIf="itemsService.uploadProgress" showValue="true" type="info"
                                     [value]="itemsService.uploadProgress|| 0" [max]="100"></ngb-progressbar>
                    <button class="mr-2 mt-1 btn btn-primary" type="submit" (click)="uploadImages()">
                        {{'Submit' |translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</dx-popup>
