<!--Customers datagrid-->
<dx-data-grid
        [dataSource]="customersSource" [showBorders]="true" [rtlEnabled]="lang"
        [hoverStateEnabled]="true" [focusedRowEnabled]="true" focusedRowIndex="0"
        keyExpr="uid" (onFocusedRowChanged)="onFocusedRowChanged($event)">
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>

    <dxi-column [formItem]="{visible: false}" [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'importPermissionBtn'" [caption]="'Import Permissions'|translate"></dxi-column>
    <div *dxTemplate="let data of 'importPermissionBtn'">

        <dx-file-uploader
                [selectButtonText]="(currentUser.permissions.canImport ? 'Select XLSX File' : 'Permission required')|translate"
                labelText=""
                accept=".xlsx"
                [(disabled)]="!currentUser.permissions.canUpdate"
                [(rtlEnabled)]="lang"
                (change)="importPermissions($event)"
                [showFileList]="false"
                [maxFileSize]="3000000"
                [multiple]="false"
                uploadMode="instantly">
        </dx-file-uploader>
    </div>
</dx-data-grid>

<!--Options-->
<div class="dx-fieldset" [hidden]="!currentCustomer">
    <dx-box [rtlEnabled]="lang" direction="row" width="100%" [height]="20">
        <dxi-item [ratio]="1">
            <div [hidden]="showCurrentPermissions" class="dx-field m-15">
                <div class="dx-field-value">
                    <dx-button
                            [(disabled)]="!currentUser.permissions.canUpdate"
                            [(rtlEnabled)]="lang"
                            class="btn-success send"
                            icon="fa fa-save"
                            (click)="saveCustomerPermissions()"
                            [text]="(currentUser.permissions.canUpdate ? 'Save' : 'Permission required')|translate">
                    </dx-button>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="1">
            <div [hidden]="!currentCustomer" class="dx-field">
                <div class="dx-field-value">
                    <dx-button
                            [disabled]="!currentUser.permissions.canUpdate"
                            [(rtlEnabled)]="lang"
                            class="btn-success"
                            icon="fa fa-plus"
                            (click)="giveAllPermissions()"
                            [text]="(currentUser.permissions.canUpdate ? 'giveAllPermissions' : 'Permission required')|translate">
                    </dx-button>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="1">
            <div [hidden]="!currentCustomer" class="dx-field">
                <div class="dx-field-value">
                    <dx-button
                            [disabled]="!currentUser.permissions.canRemove"
                            [(rtlEnabled)]="lang"
                            class="btn-danger"
                            icon="fa fa-trash-o"
                            (click)="removeAllPermissions()"
                            [text]="(currentUser.permissions.canRemove ? 'removeAllPermissions' : 'Permission required')|translate">
                    </dx-button>
                </div>
            </div>
        </dxi-item>
        <dxi-item [ratio]="1">
            <div class="dx-field">
                <div class="dx-field-label ">{{'Only Show filtered Items'|translate}}</div>
                <div class="dx-field-value">
                    <dx-switch [rtlEnabled]="lang" [(value)]="showCurrentPermissions"></dx-switch>
                </div>
            </div>
        </dxi-item>
    </dx-box>
</div>

<!--Selected Customer Items datagrid-->
<dx-data-grid
    #selectedCustoemrItemsDataGrid
    [hidden]="!showCurrentPermissions"
    keyExpr="code"
    [dataSource]="customerItemsList"
    [showBorders]="false"
    [rtlEnabled]="lang"
    [showRowLines]="false"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [focusedRowEnabled]="true"
    [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'none'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="barCodeId"
                [caption]="'Bar Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="code" [caption]="'Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="nameArFull"
                [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column [visible]="false" dataField="unitNameAr" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column [visible]="false" dataField="size" [caption]="'Size'|translate"></dxi-column>

    <dxi-column dataField="isNewList" datatype="boolean" [cellTemplate]="'ActiveButton'"
                [caption]="'Is New'|translate"></dxi-column>
    <div *dxTemplate="let data of 'ActiveButton'">
        <button class="btn btn-xs btn-pill"
                [ngClass]="isNew(data) ? 'btn-danger' : 'btn-light'">{{'Is New'|translate}}</button>
    </div>
    <dxi-column dataField="prices" [cellTemplate]="'hasPriceList'"
                [caption]="'has Price List'|translate"></dxi-column>
    <div *dxTemplate="let data of 'hasPriceList'">
        <button *ngIf="!data.data.prices.hasOwnProperty(currentCustomer.pricelist)"
                class="btn btn-xs btn-pill btn-danger">{{'Does not have price list'|translate}}</button>
    </div>

    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="rankingCode"
                groupCellTemplate="rankingTemplate"
                [caption]="'Ranking'|translate" [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="materialCode"
                groupCellTemplate="materialTemplate"
                [caption]="'Material'|translate" [formItem]="{visible: false}"></dxi-column>

    <div *dxTemplate="let ranking of 'rankingTemplate'">
        <dx-check-box (onValueChanged)="rankingRowSelected($event,ranking)"
                      [value]="getRankingSelectValue(ranking)  || false"></dx-check-box>
        {{'Ranking'|translate}}: {{ranking.value}}
    </div>
    <div *dxTemplate="let material of 'materialTemplate'">
        <dx-check-box [value]="getMaterialSelectValue(material) || false"
                      (onValueChanged)="materialRowSelected($event,material.key,material.data.items,material.data.collapsedItems,material.component)"></dx-check-box>
        {{'Material'|translate}}: {{material.value}}
    </div>
</dx-data-grid>

<!--All Items datagrid-->
<dx-data-grid
    #allItemsDataGrid
    [hidden]="showCurrentPermissions"
    [(selectedRowKeys)]="selectedItems"
    keyExpr="code"
    [dataSource]="allItemsSource"
    [remoteOperations]="{paging:true,sorting: true}"
    [showBorders]="false"
    [rtlEnabled]="lang"
    [showRowLines]="false"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [focusedRowEnabled]="true"
    [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>

    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="barCodeId"
                [caption]="'Bar Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="code" [caption]="'Code'|translate"
                [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="nameArFull"
                [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column [visible]="false" dataField="unitNameAr" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column [visible]="false" dataField="size" [caption]="'Size'|translate"></dxi-column>

    <dxi-column dataField="isNewList" datatype="boolean" [cellTemplate]="'ActiveButton'"
                [caption]="'Is New'|translate"></dxi-column>
    <div *dxTemplate="let data of 'ActiveButton'">
        <button (click)="data.value = !data.value;"
                class="btn btn-xs btn-pill"
                [ngClass]="isNew(data) ? 'btn-danger' : 'btn-light'">{{'Is New'|translate}}</button>
    </div>
    <dxi-column dataField="prices" [cellTemplate]="'hasPriceList'"
                [caption]="'has Price List'|translate"></dxi-column>
    <div *dxTemplate="let data of 'hasPriceList'">
        <button *ngIf="!data.data.prices.hasOwnProperty(currentCustomer.pricelist)"
                class="btn btn-xs btn-pill btn-danger">{{'Does not have price list'|translate}}</button>
    </div>

    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="rankingCode"
                groupCellTemplate="rankingTemplate"
                [caption]="'Ranking'|translate" [formItem]="{visible: false}"></dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="materialCode"
                groupCellTemplate="materialTemplate"
                [caption]="'Material'|translate" [formItem]="{visible: false}"></dxi-column>

    <div *dxTemplate="let ranking of 'rankingTemplate'">
        <dx-check-box (onValueChanged)="rankingRowSelected($event,ranking)"
                      [value]="getRankingSelectValue(ranking)  || false"></dx-check-box>
        {{'Ranking'|translate}}: {{ranking.value}}
    </div>
    <div *dxTemplate="let material of 'materialTemplate'">
        <dx-check-box [value]="getMaterialSelectValue(material) || false"
                      (onValueChanged)="materialRowSelected($event,material.key,material.data.items,material.data.collapsedItems,material.component)"></dx-check-box>
        {{'Material'|translate}}: {{material.value}}
    </div>
</dx-data-grid>
