<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><h5>{{'Import' | translate}} {{'Combinations' | translate}}</h5></div>
                <div class="card-body">
                    <dx-file-uploader
                            selectButtonText="Select XLSX File"
                            labelText=""
                            accept=".xlsx"
                            [(rtlEnabled)]="lang"
                            (change)="onFileChange($event)"
                            [showFileList]="false"
                            [maxFileSize]="3000000"
                            [multiple]="false"
                            uploadMode="instantly">
                    </dx-file-uploader>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><h5>{{'Import' | translate}} {{'Price List' | translate}}</h5>
            </div>
                <div class="card-body">
                    <div id="fileuploader-container">
                        <dx-file-uploader
                                selectButtonText="Select XLSX File"
                                labelText=""
                                accept=".xlsx"
                                [(rtlEnabled)]="lang"
                                (change)="uploadPriceList($event)"
                                [showFileList]="false"
                                [maxFileSize]="3000000"
                                [multiple]="false"
                                uploadMode="instantly">
                        </dx-file-uploader>

                    </div>
                    <!--<input type="file" (change)="uploadPriceList($event)" multiple="false"/>-->
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .loader-wrapper.loderhide {
        display: none;
    }
</style>
<div class="loader-wrapper" [class.loderhide]="!show">
    <div class="loader bg-white">
        <div class="whirly-loader"> </div>
    </div>
</div>
