<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>{{'Import' | translate}} {{'Photos' | translate}}</h5></div>
                <div class="card-body">
                    <dx-file-uploader
                            selectButtonText="Select Image Files"
                            labelText=""
                            accept="image/*"
                            [(rtlEnabled)]="lang"
                            [(value)]='value'
                            [showFileList]="true"
                            [maxFileSize]="3000000"
                            [multiple]="true"
                            uploadMode="useForm">
                    </dx-file-uploader>
                    <button class="ml-2 btn btn-primary" type="submit" (click)="uploadImages()">
                        {{'Upload' |translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>{{'Reset Collections' | translate}}</h5></div>
                <div class="card-body" style="align-self: center;">
                    <button class="btn btn-danger btn-air-danger" (click)="reset()"><i
                            class="fa fa-trash"></i> {{'Reset Collections' | translate}}</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>{{'Update' | translate}} {{'Balance' | translate}}</h5></div>
                <div class="card-body">
                    <dx-file-uploader
                            selectButtonText="Select XLSX File"
                            labelText=""
                            accept=".xlsx"
                            [(rtlEnabled)]="lang"
                            (change)="updateBalance($event)"
                            [showFileList]="false"
                            [maxFileSize]="3000000"
                            [multiple]="false"
                            uploadMode="instantly">
                    </dx-file-uploader>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>{{'Update' | translate}} {{'Price' | translate}}</h5></div>
                <div class="card-body">
                    <dx-file-uploader
                            selectButtonText="Select XLSX File"
                            labelText=""
                            accept=".xlsx"
                            [(rtlEnabled)]="lang"
                            (change)="updatePrice($event)"
                            [showFileList]="false"
                            [maxFileSize]="3000000"
                            [multiple]="false"
                            uploadMode="instantly">
                    </dx-file-uploader>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>{{'Customer' | translate}} {{'Order List' | translate}}</h5></div>
                <div class="card-body">
                    <dx-file-uploader
                            selectButtonText="Select XLSX File"
                            labelText=""
                            accept=".xlsx"
                            [(rtlEnabled)]="lang"
                            (change)="customerOrderList($event)"
                            [showFileList]="false"
                            [maxFileSize]="3000000"
                            [multiple]="false"
                            uploadMode="instantly">
                    </dx-file-uploader>
                </div>
            </div>
        </div>


    </div>
    <dx-popup
            [showTitle]="true"
            [title]="'Data View'"
            [dragEnabled]="false"
            [closeOnOutsideClick]="false"
            (onHiding)="cancelData()"
            [(visible)]="popupVisible">
        <div class="row" >
            <div class="col-md-8">
                <div class="card-header"><h5>Comparison</h5></div>
                <dx-data-grid #dataTable
                              keyExpr="field"
                              [dataSource]="columnToShow"
                              columnAutoWidth="true"
                              [paging]="{enabled:false}" height="550" showBorders="true"
                              [rtlEnabled]="lang">
                    <dxo-editing
                            mode="cell"
                            [allowUpdating]="true">
                    </dxo-editing>
                    <dxo-scrolling mode="Infinite" showScrollbar="Always"></dxo-scrolling>
                    <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                    <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                    <dxi-column dataField="valueField" [setCellValue]="rowFound">
                        <dxo-lookup
                                [dataSource]="columnObjects"
                                displayExpr="columnName"
                                valueExpr="valueField">
                        </dxo-lookup>
                    </dxi-column>
                </dx-data-grid>
                <button *ngIf="columnObjects.length != 0" (click)="saveData();" class="mt-2 btn btn-primary">Save</button>
                <button *ngIf="columnObjects.length != 0" (click)="cancelData();" class="mt-2 btn btn-default">Cancel</button>
                <h6 *ngIf="columnObjects.length != 0" class="card-title mt-2 float-right">Total rows: {{rowCounter}}</h6>
            </div>
            <div class="col-md-4">
                <div class="card-header"><h5>Columns from file</h5></div>
                <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="600" showBorders="true" [dataSource]="columnObjects"
                              [rtlEnabled]="lang">
                    <dxo-scrolling mode="Infinite" useNative="false" showScrollbar="Always"></dxo-scrolling>
                    <dxi-column [allowEditing]="false" dataField="value" caption="Column Name"></dxi-column>
                    <dxi-column [allowEditing]="false" dataField="valueField" caption="Column Letter"></dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </dx-popup>
</div>

<style>
    .loader-wrapper.loderhide {
        display: none;
    }
</style>
<div class="loader-wrapper" [class.loderhide]="!show">
    <div class="loader bg-white">
        <div class="whirly-loader"></div>
    </div>
</div>
