<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-title">Import Combinations</div>
                <div class="card-body">
                <input type="file" (change)="onFileChange($event)" multiple="false"/>
                </div>
            </div>
            <div class="card">
                <div class="card-title">Import PriceList</div>
                <div class="card-body">
                    <input type="file" (change)="uploadPriceList($event)" multiple="false"/>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .loader-wrapper.loderhide {
        display: none;
    }
</style>
<div class="loader-wrapper" [class.loderhide]="!show">
    <div class="loader bg-white">
        <div class="whirly-loader"> </div>
    </div>
</div>
