<!--Customers datagrid-->
<dx-data-grid
        [dataSource]="customersSource" [showBorders]="true" [rtlEnabled]="lang"
        [hoverStateEnabled]="true"
        [focusedRowEnabled]="true"
        keyExpr="uid"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>

    <dxi-column [formItem]="{visible: false}" [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'importBtn'" [caption]="'Import Permissions'|translate"></dxi-column>
    <div *dxTemplate="let data of 'importBtn'">
        <app-import-view [btnText]="'Import Bill'" [structure]="importService.billStructure" (onSaving)="saveImportedData($event[0],$event[1])"
                         [templateFileName]="'Bill Template.xlsx'" [templateSheetName]="'bills'" [doneSaving]="doneSaving"></app-import-view>
    </div>
</dx-data-grid>


<dx-data-grid [dataSource]="customerBills"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [showBorders]="false"
              [rtlEnabled]="lang"
              [showRowLines]="false"
              [columnAutoWidth]="true"
              [hoverStateEnabled]="true"
              [focusedRowEnabled]="true"
              [wordWrapEnabled]="true"
              keyExpr="id">

    <dxo-export [enabled]="true"></dxo-export>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>

    <dxi-column dataField="id" [caption]="'id'|translate"></dxi-column>
    <dxi-column dataField="createDate" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'Creat On'|translate"></dxi-column>
    <div *dxTemplate="let bill of 'detail'">

        <div class="master-detail-caption">{{'Bill Items'|translate}}</div>

        <dx-data-grid [dataSource]="bill.data.items">
            <dxi-column dataField="code" width="auto" [caption]="'Code'|translate"></dxi-column>
            <dxi-column dataField="qty" [caption]="'Quantity'|translate"></dxi-column>
            <dxi-column dataField="nameArFull" width="auto" [caption]="'Name'|translate"></dxi-column>
            <dxi-column dataField="unitNameAr" width="auto" [caption]="'Unit'|translate"></dxi-column>
            <dxi-column dataField="freeQty" [caption]="'Free Qty'|translate"></dxi-column>
            <dxi-column dataField="pricePerUnit" [caption]="'Price per unit'|translate"></dxi-column>
            <dxi-column dataField="totalPrice" [caption]="'Total Price'|translate"></dxi-column>
        </dx-data-grid>

    </div>
</dx-data-grid>
