<button class="btn btn-success m-2" (click)="btnClicked()"><i class="icon-import"></i> {{'Import Pricelist'|translate}}
</button>
<dx-popup
        [showTitle]="true"
        [title]="'Data View'"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        (onHiding)="cancelData()"
        [(visible)]="popupVisible">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <dx-file-uploader
                        selectButtonText="Select XLSX File"
                        [ngStyle]="lang && {'float':'right'}"
                        [ngClass]="{'pull-right':!lang}"
                        style="margin-top: -1rem"
                        height="60px"
                        width="20%"
                        accept=".xlsx"
                        [(rtlEnabled)]="lang"
                        (change)="addBill($event)"
                        [showFileList]="false"
                        [maxFileSize]="3000000"
                        [multiple]="false"
                        uploadMode="instantly">
                </dx-file-uploader>
                <h5>{{'Comparison'|translate}}</h5></div>
            <dx-data-grid #dataTable
                          keyExpr="text"
                          [dataSource]="columnToShow"
                          columnAutoWidth="true"
                          [paging]="{enabled:false}" height="550" showBorders="true"
                          [rtlEnabled]="lang">
                <dxo-editing
                        mode="cell"
                        [allowUpdating]="true">
                </dxo-editing>
                <dxo-scrolling mode="Infinite" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                <dxi-column dataField="valueField" [setCellValue]="rowFound">
                    <dxo-lookup
                            [dataSource]="columnObjects"
                            displayExpr="text"
                            valueExpr="valueField">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
            <button *ngIf="columnObjects.length != 0" (click)="saveData();" class="mt-2 btn btn-primary">Save</button>
            <button *ngIf="columnObjects.length != 0" (click)="cancelData();" class="mt-2 btn btn-default">Cancel
            </button>
            <h6 *ngIf="columnObjects.length != 0" class="card-title mt-2 float-right">Total
                rows: {{rowCounter|number}}</h6>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <button class="btn btn-primary" [ngStyle]=" lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                        (click)="downloadTemplate(importService.billsData)"><i
                        class="icon-download"></i> {{'Download Template'|translate}}</button>
                <h5>{{'Columns required'|translate}}</h5></div>
            <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="550" showBorders="true"
                          [dataSource]="importService.billsData"
                          [rtlEnabled]="lang">
                <dxo-scrolling mode="Infinite" useNative="false" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text" caption="Column Name"></dxi-column>
            </dx-data-grid>
        </div>
    </div>
</dx-popup>
<dx-data-grid [dataSource]="billSource"
              [masterDetail]="{ enabled: true, template: 'detail' }"
              [showBorders]="false"
              [rtlEnabled]="lang"
              [showRowLines]="false"
              [columnAutoWidth]="true"
              [hoverStateEnabled]="true"
              [focusedRowEnabled]="true"
              [wordWrapEnabled]="true"
              keyExpr="id"
              (onRowClick)="rowClick($event)">

    <dxo-export [enabled]="true"></dxo-export>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>

    <dxi-column dataField="id" [caption]="'id'|translate"></dxi-column>
    <dxi-column dataField="uploadedDate" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'Creat On'|translate"></dxi-column>
    <div *dxTemplate="let bill of 'detail'">

        <div class="master-detail-caption">{{'Cart Items'|translate}}</div>

        <dx-data-grid [dataSource]="bill.data.items">
            <dxi-column dataField="barCodeId" [caption]="'Bar Code'|translate"></dxi-column>
            <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
            <dxi-column dataField="qty" [caption]="'Quantity'|translate"></dxi-column>
            <dxi-column dataField="nameArFull" [caption]="'Name'|translate"></dxi-column>
            <dxi-column dataField="unitNameAr" [caption]="'Unit'|translate"></dxi-column>
            <dxi-column dataField="freeQty" [caption]="'Free Qty'|translate"></dxi-column>
            <dxi-column dataField="pricePerUnit" [caption]="'Price per unit'|translate"></dxi-column>
            <dxi-column dataField="totalPrice" [caption]="'Total Price'|translate"></dxi-column>
        </dx-data-grid>

    </div>
</dx-data-grid>
