<!--Customers datagrid-->
<dx-data-grid
        [dataSource]="customersSource" [showBorders]="true" [rtlEnabled]="lang"
        [hoverStateEnabled]="true"
        [focusedRowEnabled]="true"
        keyExpr="uid"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>

    <dxi-column [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'importPermissionBtn'" [caption]="'Import Invoice'|translate"></dxi-column>
    <div *dxTemplate="let data of 'importPermissionBtn'">
        <app-import-view *ngIf="currentUser.permissions.canImport" [btnText]="'Import Invoice'" [structure]="importService.invoiceStructure" (onSaving)="saveImportedData($event[0],$event[1])"
                         [templateFileName]="'Invoices Template.xlsx'" [templateSheetName]="'invoices'" [doneSaving]="doneSaving"></app-import-view>
    </div>
</dx-data-grid>


<dx-data-grid [dataSource]="customerInvoices" [showBorders]="false"
              [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true" keyExpr="id">

    <dxo-export [enabled]="currentUser.permissions.canExport"></dxo-export>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>

    <dxi-column dataField="id" [visible]="false" [caption]="'id'|translate"></dxi-column>
    <dxi-column dataField="description" [caption]="'description'|translate"></dxi-column>
    <dxi-column dataField="createDate" [visible]="false" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime"
                [caption]="'Creat On'|translate"></dxi-column>
    <dxi-column dataField="date" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'التاريخ  -(م)'|translate"></dxi-column>
    <dxi-column dataField="dateH" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'التاريخ  -(هـ)'|translate"></dxi-column>
    <dxi-column dataField="debt" [caption]="'debt'|translate"></dxi-column>
    <dxi-column dataField="credit" [caption]="'credit'|translate"></dxi-column>
    <dxi-column dataField="account" [caption]="'account'|translate"></dxi-column>
    <dxi-column dataField="refNumber" [visible]="false" [caption]="'refNumber'|translate"></dxi-column>
    <dxi-column dataField="typeCode" [visible]="false" [caption]="'typeCode'|translate"></dxi-column>
    <dxi-column dataField="typeName" [visible]="false" [caption]="'typeName'|translate"></dxi-column>
    <dxi-column dataField="siteCode" [visible]="false" [caption]="'siteCode'|translate"></dxi-column>
    <dxi-column dataField="siteName" [visible]="false" [caption]="'siteName'|translate"></dxi-column>
</dx-data-grid>
