<!--Customers datagrid-->
<dx-data-grid
        [dataSource]="customersSource" [showBorders]="true" [rtlEnabled]="lang"
        [hoverStateEnabled]="true"
        [focusedRowEnabled]="true"
        keyExpr="uid"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>

    <dxi-column [formItem]="{visible: false}" [allowSearch]="false" [allowSorting]="false"
                [cellTemplate]="'importPermissionBtn'" [caption]="'Import Invoice'|translate"></dxi-column>
    <div *dxTemplate="let data of 'importPermissionBtn'">
        <button class="btn btn-success m-2" (click)="this.popupVisible = true;"><i class="icon-import"></i> {{'Import Invoice'|translate}}</button>
    </div>
</dx-data-grid>

<dx-popup
        [showTitle]="true"
        [title]="'Import Invoice'|translate"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        (onHiding)="cancelData()"
        [(visible)]="popupVisible">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <dx-file-uploader
                        [selectButtonText]="'Select File'|translate"
                        [ngStyle]="lang && {'float':'right'}"
                        [ngClass]="{'pull-right':!lang}"
                        style="margin-top: -1rem"
                        height="60px"
                        width="20%"
                        accept=".xlsx"
                        [(rtlEnabled)]="lang"
                        (change)="addInvoice($event)"
                        [showFileList]="false"
                        [maxFileSize]="3000000"
                        [multiple]="false"
                        uploadMode="instantly">
                </dx-file-uploader>
                <h5>{{'Comparison'|translate}}</h5></div>
            <dx-data-grid #dataTable
                          keyExpr="text"
                          [dataSource]="columnToShow"
                          columnAutoWidth="true"
                          [paging]="{enabled:false}" height="550" showBorders="true"
                          [rtlEnabled]="lang">
                <dxo-editing
                        mode="cell"
                        [allowUpdating]="true">
                </dxo-editing>
                <dxo-scrolling mode="Infinite" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                <dxi-column dataField="valueField" [setCellValue]="rowFound">
                    <dxo-lookup
                            [dataSource]="fileColumns"
                            displayExpr="text"
                            valueExpr="valueField">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
            <button *ngIf="fileColumns.length != 0" (click)="saveData();" class="mt-2 btn btn-primary">Save</button>
            <button *ngIf="fileColumns.length != 0" (click)="cancelData();" class="mt-2 btn btn-default">Cancel
            </button>
            <h6 *ngIf="fileColumns.length != 0" class="card-title mt-2 pull-right">Total
                rows: {{rowCounter|number}}</h6>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <button class="btn btn-primary" [ngStyle]=" lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                        (click)="downloadTemplate(importService.invoiceStructure)"><i
                        class="icon-download"></i> {{'Download Template'|translate}}</button>
                <h5>{{'Columns required'|translate}}</h5></div>
            <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="550" showBorders="true"
                          [dataSource]="importService.invoiceStructure"
                          [rtlEnabled]="lang">
                <dxo-scrolling mode="Infinite" useNative="false" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text" caption="Column Name"></dxi-column>
            </dx-data-grid>
        </div>
    </div>
</dx-popup>


<dx-data-grid [dataSource]="customerInvoices" [showBorders]="false"
              [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true" keyExpr="id">

    <dxo-export [enabled]="true"></dxo-export>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-selection mode="multiple" [showCheckBoxesMode]="'always'"></dxo-selection>
    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>

    <dxi-column dataField="id" [visible]="false" [caption]="'id'|translate"></dxi-column>
    <dxi-column dataField="description" [caption]="'description'|translate"></dxi-column>
    <dxi-column dataField="createDate" [visible]="false" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime"
                [caption]="'Creat On'|translate"></dxi-column>
    <dxi-column dataField="date" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'التاريخ  -(م)'|translate"></dxi-column>
    <dxi-column dataField="dateH" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime" [caption]="'التاريخ  -(هـ)'|translate"></dxi-column>
    <dxi-column dataField="debt" [caption]="'debt'|translate"></dxi-column>
    <dxi-column dataField="credit" [caption]="'credit'|translate"></dxi-column>
    <dxi-column dataField="account" [caption]="'account'|translate"></dxi-column>
    <dxi-column dataField="refNumber" [visible]="false" [caption]="'refNumber'|translate"></dxi-column>
    <dxi-column dataField="typeCode" [visible]="false" [caption]="'typeCode'|translate"></dxi-column>
    <dxi-column dataField="typeName" [visible]="false" [caption]="'typeName'|translate"></dxi-column>
    <dxi-column dataField="siteCode" [visible]="false" [caption]="'siteCode'|translate"></dxi-column>
    <dxi-column dataField="siteName" [visible]="false" [caption]="'siteName'|translate"></dxi-column>
</dx-data-grid>
