<!-- Container-fluid starts -->
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <dx-data-grid (onEditorPreparing)="onEditorPreparing($event)" [dataSource]="customerSource" [showBorders]="true" [rtlEnabled]="lang">
                        <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-editing
                                mode="form"
                                [allowAdding]="true"
                                [allowUpdating]="true"
                                [useIcons]="true"
                                [allowDeleting]="true">
                        </dxo-editing>
                        <dxo-export [enabled]="true" fileName="Customers" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-selection mode="multiple"></dxo-selection>
                        <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
                        <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
                        <dxi-column dataField="email" [caption]="'Email'|translate"></dxi-column>
                        <dxi-column dataField="password" [caption]="'Password'|translate" [allowSearch]="false" [allowSorting]="false" [visible]="false"></dxi-column>
                        <dxi-column dataField="mobile" [caption]="'Mobile'|translate"></dxi-column>
                        <dxi-column dataField="pricelist" caption="Price List"> <dxo-lookup
                                [dataSource]="priceLists"
                                displayExpr="name"
                                valueExpr="id">
                        </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="isActive" [allowSearch]="false" [allowSorting]="false" [cellTemplate]="'ActiveButton'" [caption]="'Is Active'|translate"></dxi-column>
                        <dxi-column dataField="lastLoginAt" [caption]="'Last Login'|translate" [format]="'hh:mm dd/MM/yyyy'" dataType="datetime"></dxi-column>
                        <div *dxTemplate="let data of 'ActiveButton'">
                            <button (click)="data.value = !data.value;activeCustomer(data)"
                                    title="Click to {{data.value ? 'Disable' : 'Active'}}"
                                    class="btn btn-sm btn-pill"
                                    [ngClass]="data.value ? 'btn-success' : 'btn-dark'">{{data.value ? 'Active' : 'Pending'}}</button>
                        </div>
                    </dx-data-grid>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
