<button class="btn btn-success m-2" (click)="newPopupVisible = true"><i class="icon-import"></i> {{'Import Pricelist'|translate}}</button>

<dx-popup [showTitle]="true" [title]="'Import Data'|translate" [dragEnabled]="false"
          [closeOnOutsideClick]="false" (onHiding)="closePopupAndClearData()" [(visible)]="newPopupVisible">
    <div class="loader-wrapper" *ngIf="showLoader">
        <div class="loader bg-white">
            <div class="whirly-loader"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <dx-file-uploader [selectButtonText]="'Select XLSX File'|translate" [(rtlEnabled)]="lang" style="margin-top: -1rem"
                                  [ngStyle]="lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                                  height="60px" width="20%" accept=".xlsx" [multiple]="false" [showFileList]="false" [maxFileSize]="3000000"
                                  (change)="importPriceList($event)" uploadMode="instantly"></dx-file-uploader>
                <h5>{{'Comparison'|translate}}</h5>
            </div>
            <dx-data-grid keyExpr="text" [dataSource]="columnToShow" columnAutoWidth="true" height="550" showBorders="true"
                          [paging]="{enabled:false}" [scrolling]="{mode:'Infinite',showScrollbar:'Always',useNative:false}"
                          [editing]="{mode:'cell',allowUpdating:true}" [rtlEnabled]="lang">
                <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                <dxi-column dataField="valueField" [setCellValue]="rowFound">
                    <dxo-lookup [dataSource]="columnObjects" displayExpr="columnName" valueExpr="valueField"></dxo-lookup>
                </dxi-column>
            </dx-data-grid>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <button class="btn btn-primary" [ngStyle]=" lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                        (click)="downloadTemplate(importService.priceListData)"><i
                        class="icon-download"></i> {{'Download Template'|translate}}</button>
                <h5>{{'Columns required'|translate}}</h5></div>
            <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="550" showBorders="true" [rtlEnabled]="lang"
                          [dataSource]="importService.priceListData" [showColumnHeaders]="false"
                          [scrolling]="{mode:'Infinite',showScrollbar:'Always',useNative:false}" [columns]="['text']">
            </dx-data-grid>
        </div>
    </div>
    <div class="row">
        <ngb-progressbar class="col-12" showValue="true" type="info" [value]="itemsService.uploadProgress|| 0" [max]="100"></ngb-progressbar>
    </div>
    <div class="row">
        <button *ngIf="columnObjects.length != 0 && (itemsService.uploadProgress ==0 || itemsService.uploadProgress ==100)" (click)="saveData()"
                class="mt-2 btn btn-primary">Save
        </button>
        <button *ngIf="columnObjects.length != 0" (click)="closePopupAndClearData();" class="mt-2 btn btn-default">Cancel</button>
        <h6 *ngIf="columnObjects.length != 0" class="card-title mt-2 float-right">{{'Data Count'|translate}}: {{rowCounter|number}}</h6>
    </div>
</dx-popup>


<!--PriceLists datagrid-->
<dx-data-grid [dataSource]="priceListSource" [showBorders]="true" [rtlEnabled]="lang" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" focusedRowIndex="0" (onFocusedRowChanged)="onFocusedRowChanged($event)"
              [paging]="{enabled:true,pageSize:10}" [headerFilter]="{visible:true}" [searchPanel]="{visible:true}"
              [editing]="{mode:'form',allowAdding:true,allowUpdating:true,useIcons:true,allowDeleting:true}"
              [export]="{enabled:true,fileName:'Price List',allowExportSelectedData:true}" [selection]="{mode:'single'}">
    <dxi-column dataField="name" [caption]="'Name'|translate"></dxi-column>
    <dxi-column [formItem]="{visible: false}" [caption]="'Update'|translate" cellTemplate="updateTemplate"></dxi-column>
    <div *dxTemplate="let data of 'updateTemplate'">
        <button class="btn btn-primary" (click)="updatePopupVisible = true"><i class="icon-import"></i> {{'Update Pricelist'|translate}}</button>
    </div>
</dx-data-grid>

<div class="btn-group m-3 p-3">{{'Only Show PriceList Items'|translate}}
    <dx-switch [rtlEnabled]="lang" [(value)]="showCurrentPrices"></dx-switch>
</div>

<!--Selected PriceList Items datagrid-->
<dx-data-grid *ngIf="currentRow" [hidden]="!showCurrentPrices" [dataSource]="priceListItemsSource"
              [remoteOperations]="{paging:true,sorting: true}"
              [showBorders]="false" [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing mode="cell" [allowUpdating]="true" [useIcons]="true" allowDeleting="true"></dxo-editing>
    <dxo-export [enabled]="true" fileName="Combinations" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxi-column dataField="barCodeId" [caption]="'Bar Code'|translate"
                [formItem]="{visible: false}" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="code" [allowEditing]='false' [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="nameArFull" [allowEditing]='false' [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column dataField="prices" editCellTemplate="tagBoxEditor" [allowFiltering]="false" [allowSorting]="true"
                cellTemplate="priceTemplate" [caption]="'Price'|translate"></dxi-column>
    <div *dxTemplate="let data of 'priceTemplate'">{{data.data.prices[currentRow?.id]}}</div>
    <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
        <dx-number-box [value]="cellInfo.data.prices[currentRow?.id]" (onValueChanged)="setPrice($event.value,cellInfo)"></dx-number-box>
    </div>
</dx-data-grid>

<!--All Items datagrid-->
<dx-data-grid [hidden]="showCurrentPrices" [dataSource]="allItemsSource"
              [remoteOperations]="{paging:true,sorting: true}"
              [showBorders]="false" [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing mode="cell" [allowUpdating]="true" [useIcons]="true"></dxo-editing>
    <dxo-export [enabled]="true" fileName="Combinations" [allowExportSelectedData]="true"></dxo-export>
    <dxo-selection mode="multiple"></dxo-selection>
    <dxi-column dataField="barCodeId" [caption]="'Bar Code'|translate"
                [formItem]="{visible: false}" [allowEditing]="false"></dxi-column>
    <dxi-column dataField="code" [allowEditing]='false' [caption]="'Code'|translate"></dxi-column>
    <dxi-column dataField="nameArFull" [allowEditing]='false' [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column dataField="prices" editCellTemplate="tagBoxEditor" [allowFiltering]="false" [allowSorting]="true"
                cellTemplate="priceTemplate" [caption]="'Price'|translate"></dxi-column>
    <div *dxTemplate="let data of 'priceTemplate'">
        <div *ngIf="data.data.prices && data.data.prices.hasOwnProperty(currentRow?.id)">{{data.data.prices[currentRow?.id]}}</div>
        <div *ngIf="!data.data.prices || !data.data.prices.hasOwnProperty(currentRow?.id)">
            <button class="btn btn-success m-2" (click)="addItemToList(data.data)"><i class="icon-plus"></i> {{'add to pricelist'|translate}}</button>
        </div>
    </div>
    <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
        <dx-number-box [value]="cellInfo.data.prices[currentRow?.id]" (onValueChanged)="setPrice($event.value,cellInfo)"></dx-number-box>
    </div>
</dx-data-grid>
