<button class="btn btn-success m-2" (click)="btnClicked()"><i class="icon-import"></i> {{'Import Promotions'|translate}}
</button>
<dx-popup
        [showTitle]="true"
        [title]="'Data View'"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        (onHiding)="cancelData()"
        [(visible)]="popupVisible">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <dx-file-uploader
                        selectButtonText="Select XLSX File"
                        [ngStyle]="lang && {'float':'right'}"
                        [ngClass]="{'pull-right':!lang}"
                        style="margin-top: -1rem"
                        height="60px"
                        width="20%"
                        accept=".xlsx"
                        [(rtlEnabled)]="lang"
                        (change)="importPromotion($event)"
                        [showFileList]="false"
                        [maxFileSize]="3000000"
                        [multiple]="false"
                        uploadMode="instantly">
                </dx-file-uploader>
                <h5>{{'Comparison'|translate}}</h5></div>
            <dx-data-grid #dataTable
                          keyExpr="text"
                          [dataSource]="columnToShow"
                          columnAutoWidth="true"
                          [paging]="{enabled:false}" height="550" showBorders="true"
                          [rtlEnabled]="lang">
                <dxo-editing
                        mode="cell"
                        [allowUpdating]="true">
                </dxo-editing>
                <dxo-scrolling mode="Infinite" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                <dxi-column dataField="valueField" [setCellValue]="rowFound">
                    <dxo-lookup
                            [dataSource]="columnObjects"
                            displayExpr="text"
                            valueExpr="valueField">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
            <button *ngIf="columnObjects.length != 0" (click)="saveData();" class="mt-2 btn btn-primary">Save</button>
            <button *ngIf="columnObjects.length != 0" (click)="cancelData();" class="mt-2 btn btn-default">Cancel
            </button>
            <h6 *ngIf="columnObjects.length != 0" class="card-title mt-2 float-right">Total
                rows: {{rowCounter|number}}</h6>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <button class="btn btn-primary" [ngStyle]=" lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                        (click)="downloadTemplate(importService.promotionStructure)"><i
                        class="icon-download"></i> {{'Download Template'|translate}}</button>
                <h5>{{'Columns required'|translate}}</h5></div>
            <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="550" showBorders="true"
                          [dataSource]="importService.promotionStructure"
                          [rtlEnabled]="lang">
                <dxo-scrolling mode="Infinite" useNative="false" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text" caption="Column Name"></dxi-column>
            </dx-data-grid>
        </div>
    </div>
</dx-popup>

<!--All Items datagrid-->
<dx-data-grid [dataSource]="promotionsSource"
              [showBorders]="false" [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true">

    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing mode="cell" [allowUpdating]="true" [useIcons]="true"></dxo-editing>
    <dxo-export [enabled]="true" fileName="Promotions" [allowExportSelectedData]="true"></dxo-export>
    <dxi-column [allowHiding]="false" dataField="code" [caption]="'Code'|translate"
                allowEditing="false">
    </dxi-column>
    <dxi-column [allowHiding]="false"
                dataField="nameArFull" [caption]="'Name Ar'|translate"></dxi-column>
    <dxi-column dataField="applyOn" [caption]="'Apply On'|translate"></dxi-column>
    <dxi-column dataField="childrenType" [caption]="'Children Type'|translate"></dxi-column>
    <dxi-column dataField="disCountType" [caption]="'DisCount Type'|translate"></dxi-column>
    <dxi-column dataField="disCountValue" [caption]="'DisCount Value'|translate"></dxi-column>
    <dxi-column dataField="discountAmount" [caption]="'Discount Amount'|translate"></dxi-column>
    <dxi-column dataField="discountPercentage" [caption]="'Discount Percentage'|translate"></dxi-column>
    <dxi-column dataField="excludeFromTotalDiscount" [caption]="'Exclude From Total Discount'|translate"></dxi-column>
    <dxi-column dataField="hasFreeItem" [caption]="'has Free Item'|translate"></dxi-column>
    <dxi-column dataField="isTotalDiscount" [caption]="'is Total Discount'|translate"></dxi-column>
    <dxi-column dataField="unitName" [allowGrouping]="false" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column dataField="size" [caption]="'Size'|translate"></dxi-column>

</dx-data-grid>
