<button class="btn btn-success m-2" [disabled]="!currentUser.permissions.canImport" (click)="btnClicked()"><i class="icon-import"></i> {{(currentUser.permissions.canImport ? 'Import Promotions' : 'Permission required')|translate}}
</button>
<dx-popup
        [showTitle]="true"
        [title]="'Data View'"
        [dragEnabled]="false"
        [closeOnOutsideClick]="false"
        (onHiding)="cancelData()"
        [(visible)]="popupVisible">
    <div class="row">
        <div class="col-md-8">
            <div class="card-header">
                <dx-file-uploader
                        [(disabled)]="!currentUser.permissions.canCreate"
                        [selectButtonText]="(currentUser.permissions.canCreate ? 'Select XLSX File' : 'Permission required')|translate"
                        [ngStyle]="lang && {'float':'right'}"
                        [ngClass]="{'pull-right':!lang}"
                        style="margin-top: -1rem"
                        height="60px"
                        width="20%"
                        accept=".xlsx"
                        [(rtlEnabled)]="lang"
                        (change)="importPromotion($event)"
                        [showFileList]="false"
                        [maxFileSize]="3000000"
                        [multiple]="false"
                        uploadMode="instantly">
                </dx-file-uploader>
                <h5>{{'Comparison'|translate}}</h5></div>
            <dx-data-grid #dataTable
                          keyExpr="text"
                          [dataSource]="columnToShow"
                          columnAutoWidth="true"
                          [paging]="{enabled:false}" height="550" showBorders="true"
                          [rtlEnabled]="lang">
                <dxo-editing
                        mode="cell"
                        [allowUpdating]="currentUser.permissions.canUpdate">
                </dxo-editing>
                <dxo-scrolling mode="Infinite" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text"></dxi-column>
                <dxi-column [allowEditing]="false" dataField="isFound"></dxi-column>
                <dxi-column dataField="valueField" [setCellValue]="rowFound">
                    <dxo-lookup
                            [dataSource]="columnObjects"
                            displayExpr="columnName"
                            valueExpr="valueField">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
            <button *ngIf="columnObjects.length != 0" (click)="saveData();" class="mt-2 btn btn-primary">Save</button>
            <button *ngIf="columnObjects.length != 0" (click)="cancelData();" class="mt-2 btn btn-default">Cancel
            </button>
            <h6 *ngIf="columnObjects.length != 0" class="card-title mt-2 float-right">Total
                rows: {{rowCounter|number}}</h6>
        </div>
        <div class="col-md-4">
            <div class="card-header">
                <button class="btn btn-primary" [ngStyle]=" lang && {'float':'right'}" [ngClass]="{'pull-right':!lang}"
                        (click)="downloadTemplate(importService.promotionStructure)"><i
                        class="icon-download"></i> {{'Download Template'|translate}}</button>
                <h5>{{'Columns required'|translate}}</h5></div>
            <dx-data-grid columnAutoWidth="true" [paging]="{enabled:false}" height="550" showBorders="true"
                          [dataSource]="importService.promotionStructure"
                          [rtlEnabled]="lang">
                <dxo-scrolling mode="Infinite" useNative="false" showScrollbar="Always"></dxo-scrolling>
                <dxi-column [allowEditing]="false" dataField="text" caption="Column Name"></dxi-column>
            </dx-data-grid>
        </div>
    </div>
</dx-popup>
<button class="btn btn-dark mr-2" [disabled]="!currentUser.permissions.canCreate" [routerLink]="['/promotions/create']"><i class="fa fa-plus"></i> {{(currentUser.permissions.canCreate ? 'Create Promotions' : 'Permission required')|translate}}
</button>
<!--All Items datagrid-->
<dx-data-grid [dataSource]="promotionsSource"
              [showBorders]="false" [rtlEnabled]="lang" [showRowLines]="false"
              [columnAutoWidth]="true" [hoverStateEnabled]="true"
              (onEditorPreparing)="editorPreparing($event)"
              (onFocusedRowChanged)="onFocusedRowChanged($event)"
              [focusedRowEnabled]="true" [wordWrapEnabled]="true">
    <dxo-column-chooser [enabled]="true" [allowSearch]="true" mode="select"></dxo-column-chooser>
    <dxo-scrolling mode="virtual" rowRenderingMode="virtual" useNative="false" showScrollbar="Always"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-editing mode="form" [allowDeleting]="currentUser.permissions.canRemove" [allowUpdating]="currentUser.permissions.canUpdate" [useIcons]="true"></dxo-editing>
    <dxo-export [enabled]="currentUser.permissions.canExport" fileName="Promotions" [allowExportSelectedData]="true"></dxo-export>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="code" [caption]="'Code'|translate"
                allowEditing="false">
    </dxi-column>
    <dxi-column [allowHiding]="false" [showInColumnChooser]="false"
                dataField="nameArFull" [caption]="'Name Ar'|translate"></dxi-column>
    <!--    <dxi-column dataField="applyOn" [formItem]="{visible: false}" [caption]="'Apply On'|translate"></dxi-column>-->
    <!--    <dxi-column dataField="childrenType" [formItem]="{visible: false}" [caption]="'Children Type'|translate"></dxi-column>-->
    <dxi-column dataField="disCountType" [caption]="'DisCount Type'|translate">
        <dxo-lookup [dataSource]="discountTypes"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="disCountAmount"  [caption]="'Discount Amount'|translate"></dxi-column>
    <dxi-column dataField="disCountPercentage"  [caption]="'Discount Percentage'|translate"></dxi-column>
    <!--    <dxi-column dataField="excludeFromTotalDiscount" [formItem]="{visible: false}" [caption]="'Exclude From Total Discount'|translate"></dxi-column>-->
    <dxi-column dataField="hasFreeItem" [visible]="false"
                [caption]="'has Free Item'|translate"></dxi-column>
    <dxi-column dataField="isTotalDiscount" [visible]="false"
                [caption]="'is Total Discount'|translate"></dxi-column>
    <!--    <dxi-column dataField="hasChildren" [formItem]="{visible: false}" [caption]="'hasChildren'|translate"></dxi-column>-->
    <!--    <dxi-column dataField="paymentMethods" [formItem]="{visible: false}" [caption]="'Payment Methods'|translate"></dxi-column>-->


    <dxi-column [allowHiding]="false" [showInColumnChooser]="false" dataField="promotionType" [caption]="'Promotion Type'|translate">
        <dxo-lookup [dataSource]="promotionsTypes">
        </dxo-lookup>
    </dxi-column>
    <!--    <dxi-column dataField="unitName" [allowGrouping]="false" [caption]="'Unit'|translate"></dxi-column>-->
    <!--    <dxi-column dataField="size" [caption]="'Size'|translate"></dxi-column>-->
    <dxi-column dataField="materialDiscountType" [visible]="false" [formItem]="{visible: materialFieldView}" [caption]="'Material Discount Type'|translate">
        <dxo-lookup [dataSource]="discountTypes">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="materialDiscountAmount" [visible]="false" [formItem]="{visible: materialFieldView}" [caption]="'Material Discount Amount'|translate"></dxi-column>
    <dxi-column dataField="materialDiscountPercentage" [visible]="false" [formItem]="{visible: materialFieldView}" [caption]="'Material Discount Percentage'|translate"></dxi-column>
    <dxi-column dataField="materialDiscountCombinationBarCodeId" [visible]="false" [formItem]="{visible: false}" [caption]="'Combinaiton BarCode'|translate"></dxi-column>
    <dxi-column dataField="materialDiscountCombinationCode" [visible]="false" [formItem]="{visible: materialFieldView}" [caption]="'Combination Code'|translate"></dxi-column>
    <dxi-column dataField="materialDiscountCombinationNameAr" [visible]="false" [formItem]="{visible: false}" [caption]="'Combination Name'|translate"></dxi-column>

    <dxi-column dataField="freeItemCombinationBarCodeId" [visible]="false" [formItem]="{visible: false}" [caption]="'Combinaiton BarCode'|translate"></dxi-column>
    <dxi-column dataField="freeItemCombinationCode" [visible]="false" [formItem]="{visible: freeFieldView}" [caption]="'Combination Code'|translate"></dxi-column>
    <dxi-column dataField="freeItemCombinationNameAr" [visible]="false" [formItem]="{visible: false}" [caption]="'Combination Name'|translate"></dxi-column>
    <dxi-column dataField="freeItemAmount" [visible]="false" [formItem]="{visible: freeFieldView}" [caption]="'Quantity'|translate"></dxi-column>
    <dxi-column dataField="freeItemUnitName" [visible]="false" [formItem]="{visible: false}" [caption]="'Unit'|translate"></dxi-column>
    <dxi-column dataField="freeItemUnitCode" [visible]="false" [formItem]="{visible: false}" [caption]="'Unit Code'|translate"></dxi-column>
    <dxi-column [showInColumnChooser]="false" [allowHiding]="false" dataField="validFrom" [format]="'dd/MM/yyyy'" dataType="datetime"
                [caption]="'Valid From'|translate"></dxi-column>
    <dxi-column [showInColumnChooser]="false" [allowHiding]="false" dataField="validTo" [format]="'dd/MM/yyyy'" dataType="datetime"
                [caption]="'Valid To'|translate"></dxi-column>
    <dxi-column dataField="notes" [visible]="false" [caption]="'Notes'|translate"></dxi-column>

</dx-data-grid>
