<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <button class="btn btn-primary ml-2 mt-2 mb-3 pull-right" (click)="changeView()"><i
                        class="fa fa-th-list"
                > {{'Combinations / FullList'|translate}}</i></button>
                <dx-tree-list *ngIf="showTree"
                              (onRowClick)="RowClicked($event)"
                              (onRowExpanding)="RowExpanding($event)"
                              (onCellPrepared)="cellPrepared($event)"
                              (onRowPrepared)="rowPrepared($event)"
                              (onRowCollapsing)="canView = false;"
                              id="product-list"
                              [dataSource]="source"
                              [rtlEnabled]="lang"
                              rootValue=""
                              keyExpr="id"
                              parentIdExpr="headId"
                              [remoteOperations]="{filtering: true}"
                              [showRowLines]="true"
                              [showBorders]="true"
                              [columnAutoWidth]="true"
                              hasItemsExpr="hasChildren">
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing
                            mode="form"
                            [allowAdding]="true"
                            [allowUpdating]="true"
                            [useIcons]="true"
                            [allowDeleting]="true">
                    </dxo-editing>
                    <dxo-selection mode="multiple"></dxo-selection>
                    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
                    <dxi-column dataField="nameAr" [caption]="'Name Ar'|translate"></dxi-column>
                    <dxi-column dataField="nameEn" [caption]="'Name En'|translate"></dxi-column>
                    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>
                    <dxi-column dataField="isNew" dataType="boolean" [caption]="'Is New'|translate"></dxi-column>
                    <dxi-column dataField="unit" [caption]="'Unit'" [allowEditing]="canView" [visible]="canView"></dxi-column>
                    <dxi-column dataField="size" [caption]="'Size'" [allowEditing]="canView" [visible]="canView"></dxi-column>
                </dx-tree-list>
                <dx-popup
                        width="700"
                        height="auto"
                        [showTitle]="true"
                        [title]="'Photos'|translate"
                        [dragEnabled]="false"
                        [closeOnOutsideClick]="true"
                        [(visible)]="popupVisible">
                    <div *dxTemplate="let data of 'content'">
                        <ul *ngIf="currentRow.pics" class="list-group">
                            <li class="list-group-item list-group-item-action"><img
                                    style="height: 128px;width: 128px;padding-top: 3px" (click)="deleteImage(pic)"
                                    [src]="pic" *ngFor="let pic of currentRow.pics" width="300" height="300" alt=""/>
                            </li>
                        </ul>
                        <div class="widget-container">
                            <form id="form" #form method="post" action="" enctype="multipart/form-data">

                                <div id="fileuploader-container">
                                    <dx-file-uploader
                                            selectButtonText="Select photo"
                                            labelText=""
                                            accept="image/*"
                                            [(value)]='value'
                                            [showFileList]="true"
                                            multiple="true"
                                            uploadMode="useForm">
                                    </dx-file-uploader>

                                    <button class="btn btn-primary" type="submit" (click)="uploadImages()">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </dx-popup>
                <dx-data-grid *ngIf="!showTree" [dataSource]="listSource" [showBorders]="true" [rtlEnabled]="lang"
                              (onRowClick)="RowClicked($event)">
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-editing
                            mode="form"
                            [allowUpdating]="true"
                            [useIcons]="true"
                            [allowDeleting]="true">
                    </dxo-editing>
                    <dxo-export [enabled]="true" fileName="Combinations" [allowExportSelectedData]="true"></dxo-export>
                    <dxo-selection mode="multiple"></dxo-selection>
                    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
                    <dxi-column dataField="nameAr" [caption]="'Name Ar'|translate"></dxi-column>
                    <dxi-column dataField="nameEn" [caption]="'Name En'|translate"></dxi-column>
                    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>
                    <dxi-column dataField="isNew" dataType="boolean" [caption]="'Is New'|translate"></dxi-column>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>
