<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6">
                    <form class="search-form contact-search">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" [(ngModel)]="searchValue"
                                   [ngModelOptions]="{standalone: true}" placeholder="Search by name..."
                                   (keyup)="searchByName()">
                        </div>
                    </form>
                </div>
                <div class="col-xl-6">
                    <button class="btn btn-primary ml-2 mt-2 pull-right" [routerLink]="['/user/new-user']"><i
                    >{{'Add User'|translate}}</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body custom-datatable">
                    <ngx-datatable class="bootstrap" [rows]="items" [columnMode]="'flex'" [headerHeight]="50"
                                   [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [selected]="selected"
                                   [selectionType]="'checkbox'" [selectAllRowsOnPage]="false"
                                   (select)='onSelect($event)'>
                        <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false"
                                              [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                              [checkboxable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column [name]="'Code'|translate" [flexGrow]="1">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payload.doc.data().code}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [name]="'Name'|translate" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <a class="text-primary"
                                   [routerLink]="['/user/edit-user',row.payload.doc.id]"> {{row.payload.doc.data().name}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [name]="'Email'|translate" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payload.doc.data().email}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [name]="'Mobile'|translate" [flexGrow]="2">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payload.doc.data().mobile}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [name]="'Last Login'|translate" [flexGrow]="1">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.payload.doc.data().lastLoginAt | date: 'hh:mm dd/MM/yyyy'}}
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
