<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!--                <button class="btn btn-primary ml-2 mt-2 mb-3 pull-right" (click)="changeView()"><i-->
                <!--                        class="fa fa-th-list"-->
                <!--                > {{'Combinations / FullList'|translate}}</i></button>-->
                <!--                <dx-tree-list *ngIf="showTree"-->
                <!--                              (onRowClick)="RowClicked($event)"-->
                <!--                              (onCellPrepared)="cellPrepared($event)"-->
                <!--                              (onRowPrepared)="rowPrepared($event)"-->
                <!--                              (onRowCollapsing)="canView = false;"-->
                <!--                              id="product-list"-->
                <!--                              [dataSource]="source"-->
                <!--                              [rtlEnabled]="lang"-->
                <!--                              rootValue=""-->
                <!--                              keyExpr="id"-->
                <!--                              parentIdExpr="headId"-->
                <!--                              [remoteOperations]="{filtering: true, grouping:true,sorting:true}"-->
                <!--                              [showRowLines]="true"-->
                <!--                              [showBorders]="true"-->
                <!--                              [columnAutoWidth]="true"-->
                <!--                              hasItemsExpr="hasChildren">-->
                <!--                    <dxo-paging-->
                <!--                            [enabled]="true"-->
                <!--                            [pageSize]="10">-->
                <!--                    </dxo-paging>-->
                <!--                    <dxo-pager-->
                <!--                            [showPageSizeSelector]="true"-->
                <!--                            [allowedPageSizes]="[5, 10, 20]"-->
                <!--                            [showInfo]="true">-->
                <!--                    </dxo-pager>-->
                <!--                    <dxo-header-filter [visible]="true"></dxo-header-filter>-->
                <!--                    <dxo-search-panel [visible]="true"></dxo-search-panel>-->
                <!--                    <dxo-editing-->
                <!--                            mode="form"-->
                <!--                            [allowAdding]="true"-->
                <!--                            [allowUpdating]="true"-->
                <!--                            [useIcons]="true"-->
                <!--                            [allowDeleting]="true">-->
                <!--                    </dxo-editing>-->
                <!--                    <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>-->
                <!--                    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="nameAr" [caption]="'Name Ar'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="nameEn" [caption]="'Name En'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="isNew" dataType="boolean" [caption]="'Is New'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="unitNameAr" [caption]="'Unit'"></dxi-column>-->
                <!--                    <dxi-column dataField="size" [caption]="'Size'"></dxi-column>-->
                <!--                </dx-tree-list>-->
                <!--                <dx-popup-->
                <!--                        width="700"-->
                <!--                        height="auto"-->
                <!--                        [showTitle]="true"-->
                <!--                        [title]="'Photos'|translate"-->
                <!--                        [dragEnabled]="false"-->
                <!--                        [closeOnOutsideClick]="true"-->
                <!--                        [(visible)]="popupVisible">-->
                <!--                    <div *dxTemplate="let data of 'content'">-->
                <!--                        <ul *ngIf="currentRow.type == 'combination' && currentRow.pics.length >0" class="list-group ">-->
                <!--                            <li class="list-group-item list-group-item-action avatars">-->
                <!--                                <div class="avatar" style="margin-left: 0;" *ngFor="let pic of currentRow.pics" (click)="deleteImage(pic)" id="{{pic.split('/').reverse()[0].split('?')[0].replace('%2F', '/').split('/')[1]}}">-->
                <!--                                <img class="b-r-8" title="Click to delete!"-->
                <!--                                    style="height: 128px;width: 128px;padding-top: 3px"-->
                <!--                                    [src]="pic" width="300" height="300" alt=""/>-->
                <!--                                <button title="Delete" style="right: -1px;bottom: -1px;" class="status status-100 bg-danger"><i class="fa fa-trash"></i></button>-->
                <!--                                </div>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                        <div class="widget-container">-->
                <!--                            <form id="form" #form method="post" action="" enctype="multipart/form-data">-->

                <!--                                <div id="fileuploader-container">-->
                <!--                                    <dx-file-uploader-->
                <!--                                            selectButtonText="Select photo"-->
                <!--                                            labelText=""-->
                <!--                                            accept="image/*"-->
                <!--                                            [(value)]='value'-->
                <!--                                            [(rtlEnabled)]="lang"-->
                <!--                                            [showFileList]="true"-->
                <!--                                            multiple="true"-->
                <!--                                            uploadMode="useForm">-->
                <!--                                    </dx-file-uploader>-->

                <!--                                    <button class="mr-2 btn btn-primary" type="submit" (click)="uploadImages()">-->
                <!--                                        {{'Submit' |translate}}-->
                <!--                                    </button>-->
                <!--                                </div>-->
                <!--                            </form>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </dx-popup>-->
                <!--                <dx-data-grid *ngIf="!showTree" [dataSource]="listSource" [showBorders]="true" [rtlEnabled]="lang"-->
                <!--                              (onRowClick)="RowClicked($event)">-->
                <!--                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>-->
                <!--                    <dxo-header-filter [visible]="true"></dxo-header-filter>-->
                <!--                    <dxo-search-panel [visible]="true"></dxo-search-panel>-->
                <!--                    <dxo-editing-->
                <!--                            mode="form"-->
                <!--                            [allowUpdating]="true"-->
                <!--                            [useIcons]="true"-->
                <!--                            [allowDeleting]="true">-->
                <!--                    </dxo-editing>-->
                <!--                    <dxo-export [enabled]="true" fileName="Combinations" [allowExportSelectedData]="true"></dxo-export>-->
                <!--                    <dxo-selection mode="multiple"></dxo-selection>-->
                <!--                    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="nameAr" [caption]="'Name Ar'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="nameEn" [caption]="'Name En'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="isNew" dataType="boolean" [caption]="'Is New'|translate"></dxi-column>-->
                <!--                    <dxi-column dataField="unitNameAr" [caption]="'Unit'"></dxi-column>-->
                <!--                    <dxi-column dataField="size" [caption]="'Size'"></dxi-column>-->
                <!--                </dx-data-grid>-->

                <button class="btn btn-primary ml-2 mt-2 mb-3 pull-right" (click)="addRows(1)"><i
                        class="fa fa-th-list"
                > Add 1 Item</i></button>
                <button class="btn btn-danger ml-2 mt-2 mb-3 pull-right" (click)="removeAllItems()"><i
                        class="fa fa-th-list"
                > Remove All Items</i></button>
                <dx-data-grid
                        [showBorders]="true"
                        [dataSource]="source"
                        [rtlEnabled]="lang"
                        [showRowLines]="true"
                        [columnAutoWidth]="true"
                        [remoteOperations]="{ groupPaging: true }"
                >

                    <!--                    <dxo-remote-operations-->
                    <!--                            [filtering]="false"-->
                    <!--                            [paging]="false"-->
                    <!--                            [sorting]="false"-->
                    <!--                            [summary]="false"-->
                    <!--                            [grouping]="false"-->
                    <!--                            [groupPaging]="true">-->
                    <!--                    </dxo-remote-operations>-->
                    <dxi-column dataField="code" [caption]="'Code'|translate"></dxi-column>
                    <dxi-column dataField="nameAr" [caption]="'Name Ar'|translate"></dxi-column>
                    <dxi-column dataField="nameEn" [caption]="'Name En'|translate"></dxi-column>
                    <dxi-column dataField="isActive" dataType="boolean" [caption]="'Is Active'|translate"></dxi-column>
                    <dxi-column dataField="isNew" dataType="boolean" [caption]="'Is New'|translate"></dxi-column>
                    <dxi-column dataField="unitNameAr" [caption]="'Unit'|translate"></dxi-column>
                    <dxi-column dataField="size" [caption]="'Size'|translate"></dxi-column>
                    <dxi-column dataField="categoryCode" groupIndex="0" groupCellTemplate="categoryTemplate"
                                [caption]="'Category'|translate"></dxi-column>
                    <dxi-column dataField="rankingCode" groupIndex="1" groupCellTemplate="rankingTemplate"
                                [caption]="'Ranking'|translate"></dxi-column>
                    <dxi-column dataField="materialCode" groupIndex="2" groupCellTemplate="materialTemplate"
                                [caption]="'Material'|translate"></dxi-column>
                    <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true"></dxo-search-panel>
                    <dxo-selection mode="multiple" [recursive]="true"></dxo-selection>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-grouping [autoExpandAll]="false" expandMode="rowClick"></dxo-grouping>
                    <dxo-editing
                            mode="form"
                            [allowAdding]="true"
                            [allowUpdating]="true"
                            [useIcons]="true"
                            [allowDeleting]="true">
                    </dxo-editing>

                    <div *dxTemplate="let category of 'categoryTemplate'">
                        {{category.value}}
                    </div>
                    <div *dxTemplate="let ranking of 'rankingTemplate'">
                        {{ranking.value}}
                    </div>
                    <div *dxTemplate="let material of 'materialTemplate'">
                        {{material.value}}
                    </div>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>

<dx-data-grid id="gridContainer"
              [dataSource]="dataSource"
              [remoteOperations]="{ groupPaging: true }"
              [wordWrapEnabled]="true"
              [showBorders]="true">

    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

    <dxi-column dataField="Id" dataType="number" [width]="75"></dxi-column>
    <dxi-column dataField="ProductSubcategoryName" caption="Subcategory" [width]="150"></dxi-column>
    <dxi-column dataField="StoreName" caption="Store" [width]="150" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="ProductCategoryName" caption="Category" [width]="120" [groupIndex]="1"></dxi-column>
    <dxi-column dataField="ProductName" caption="Product"></dxi-column>
    <dxi-column dataField="DateKey" caption="Date" dataType="date" format="yyyy-MM-dd" [width]="100"></dxi-column>
    <dxi-column dataField="SalesAmount" caption="Amount" format="currency" [width]="100"></dxi-column>
</dx-data-grid>
