<!-- Container-fluid starts-->
<div class="container-fluid" [class.sidebaron]="sidebaron">
    <div class="">
        <div class="authentication-box contact-profile-form">
            <div class="text-center"><img src="assets/images/alsenedy-logo-small-green.png" alt=""></div>
            <div class="card mt-4">
                <div class="card-body">
                    <form class="theme-form" [formGroup]="registerForm">
                        <div class="form-group">
                            <label class="col-form-label pt-0">Code</label>
                            <input class="form-control" formControlName="code" type="text" required="">
                            <div *ngIf="registerForm.controls.code.touched && registerForm.controls.code.errors?.required"
                                 class="text text-danger mt-1">
                                Code is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Name</label>
                            <input class="form-control" formControlName="name" type="text" required="">
                            <div *ngIf="registerForm.controls.name.touched && registerForm.controls.name.errors?.required"
                                class="text text-danger mt-1">
                                Name is required
                            </div>
                            <div *ngIf="registerForm.controls.name.touched && registerForm.controls.name.errors?.name"
                                class="text text-danger mt-1">
                                Invalid name
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Email</label>
                            <input class="form-control" type="email" formControlName="email" required="">
                            <div *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.required"
                                class="text text-danger mt-1">
                                Email is required
                            </div>
                            <div *ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email"
                                 class="text text-danger mt-1">
                                Invalid email
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label pt-0">Password</label>
                            <input class="form-control" formControlName="password" type="password" required="">
                            <div *ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.required"
                                 class="text text-danger mt-1">
                                Password is required
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mobile</label>
                            <input class="form-control" type="number" formControlName="mobile" required="">
                            <div *ngIf="registerForm.controls.mobile.touched && registerForm.controls.mobile.errors?.required"
                                class="text text-danger mt-1">
                                mobile is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pricelist" class="col-form-label">Price List</label>
                            <select id="pricelist" class="form-control" formControlName="pricelist" required="">
                                <option *ngFor="let list of priceLists" value="{{list.id}}">{{list.name}}</option>
                            </select>
                        </div>
                        <div class="form-group form-row mt-3 mb-0">
                            <button class="btn btn-primary mr-2" [disabled]="!registerForm.valid"
                                (click)="submit(registerForm.value)" type="submit"> Submit
                            </button>
                            <button class="btn btn-primary" type="button" data-original-title="btn btn-info-gradien"
                                (click)="cancel()" title="">
                                Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
