<dx-tree-list (onRowExpanded)="onRowExpanded($event)"
    id="employees"
    [dataSource]="categories"
    [rootValue]="0"
    keyExpr="id"
    parentIdExpr="headId"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [expandedRowKeys]="[1]">
    <dxo-export [enabled]="true"></dxo-export>
    <dxi-column dataField="name_ar" caption="Name"></dxi-column>
    <dxi-column dataField="code" caption="Code"></dxi-column>
    <dxi-column dataField="active" caption="Is Active"></dxi-column>
</dx-tree-list>